# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!packages/*/build/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual Studio 2015/2017/2019/2022 cache/options directory
.vs/

# Visual Studio Code settings
.vscode/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Azure function settings
local.settings.json

# Configuration files with secrets
appsettings.Development.json
appsettings.Local.json